<ol class="post-list">
    {{!-- Itterates this template for every post object, minimizing code required --}}
    {{#each posts as |post|}}
    <li>
        <article class="post">
            <div class="title">
                <a href="{{post.post_url}}" target="_blank">{{title}}</a>
                <span>({{post.post_url}})</span>
            </div>
            <div class="meta">
                {{post.vote_count}} point(s) by {{user.username}} on
                {{post.created_at}}
                |
                <a href="/post/{{post.id}}">{{post.comments.length}} comment(s)</a>
            </div>
        </article>
    </li>
    {{/each}}
</ol>